
#scenario{
    margin: 0 auto;
    margin-top: 50px;
    height: 500px;
    width: 600px;
    background-color: #6B8CFF;
    overflow: hidden;
}

.row{  
    display: flex;
    justify-content: space-between;
}

.column{
    min-width: 100px;
    min-height: 30px;
    margin: 3px;
    background-image: url('assets/block.png');
}

#ball{
    position: absolute;
    border: 0px;
    width: 30px;
    height: 30px;
    left: 300px;
    bottom: 40px;
    background-image: url('assets/mario.png');
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: white;*/
}

#paddle{
    position: absolute;
    width: 100px;
    height: 20px;
    bottom: 0px;
    background-image: url('assets/paddle.png');
}