
#scenario{
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    height: 80vh;
    width: 80vw;
    background-color: red;
}

.row{  
    margin: 0 auto;
    width: 418px;
    background-color: blue;
}

.column{
    display: inline-flex;
    height: 50px;
    width: 100px;
    margin: 2px;   
    background-color: yellow;
}

.ball{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 100px;
    bottom: 21px;
}

.paddle{
    position: absolute;
    width: 100px;
    height: 20px;
    bottom: 0px;
    background-color: green;
}